! Custom CSS
@charset "UTF-8";
@import url("fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC");

body {
  font-family: "Neucha";
}

.gsc-comments > .gsc-comment-box {
  order: 2;
  margin-bottom: 1rem;
}

.gsc-comments > .gsc-timeline {
  order: 3;
}

.gsc-timeline {
  flex-direction: column-reverse;
}

.gsc-header {
  padding-bottom: 1rem;
}
