<nav class="border split-nav">
  <div class="nav-brand">
    <h3><a href="{{ .Site.Params.navTitleLink | default "/" }}">{{ .Site.Title }}</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <button>
    <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
    </button>
    <div class="collapsible-body">
      <ul class="inline">
      {{ range .Site.Menus.nav }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>
    </div>
  </div>

  <script src="/js/vanilla-back-to-top.min.js"></script>
  <script>addBackToTop({
      backgroundColor: '#fff',
    //  cornerOffset: 20, // px
      diameter: 45, // px
    //  ease: inOutSine, // any one from https://www.npmjs.com/package/ease-component will do
    //  id: 'back-to-top',
      innerHTML: '<svg viewBox="0 0 24 24"><path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"/></svg>',
    //  onClickScrollTo: 0, // px
    //  scrollContainer: document.body, // or a DOM element, e.g., document.getElementById('content')
      scrollDuration: 777, // ms
    //  showWhenScrollTopIs: 1, // px
    //  size: diameter, // alias for diameter
      textColor: '#000',
    //  zIndex: 1  */
  })</script>

</nav>